body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
    background-color: slategrey;
    color: black;
    display:block;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    text-align: center;
    margin: 30px;
    line-height: 100px;
}

.yes{
    text-decoration: none;
    background-color: slategrey;
    color: black;
    display:block;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    text-align: center;
    margin: 30px;
    line-height: 100px;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
}
